body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.click1.active {
    transform: rotate(-45deg)  translateX(-170px);
    
}
.click2.active {
    transform: rotate(45deg) translateX(170px);  
}
.buttons.active{
    border: 0;
    box-shadow: none;

}


.click1{ 
    background: #000;
    width: 150px;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .5s; 
}
.click2{
    background: #000;
    width: 150px;
    height: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .5s;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    margin-top: 20%;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s;
    box-shadow: 0 0 10px #000;
    
}
/* .buttons:hover{
    .click1{
        background: silver;
       
    }
    .click1 h1{
        color: #000;
    }
    .click2{
        background: silver;
       
    }
    .click2 h1{
        color: #000;
    }
} */
.click1 h1{
    color: white;
    font-size: 35px;
    text-align: right;
    margin-top: 25px;
    transition: .5s;


    
}
.click2 h1{
    color: white;
    font-size: 35px;
    text-align: left;
    margin-top: 25px;
    transition: .5s;
    
}
.modal{
    background: rgb(65, 65, 65);
    cursor: pointer;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    position: absolute;
    transition:.7s;
  
    top: 42%;
    z-index: -1
    
}
.you{
    text-align: center;
    color: white;
}
.modal.active{
    z-index: 2;
    transform: scale(1.2);
   
    
}
.gif-card{
    position: absolute;
    -webkit-box-shadow: -78px -2px 10px -4px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: -78px -2px 10px -4px rgba(34, 60, 80, 0.2) inset;
    box-shadow: -78px -2px 10px -4px rgba(34, 60, 80, 0.2) inset;
    top: 1%;
    left: 10%;
    box-shadow: 5px 5px 10px 1px #000000;
    width: 1200px;
    height: 700px;
    z-index: 100;
    background: url(./img/bgnew.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transform: translateY(-2000px);
    transition: 1.5s;
    

   
}
.gif-card p{
    opacity: 0;
    transition: 1.8s;
    text-align: left;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    margin-left: 20px;
    font-family: cursive;
    color: rgb(241, 129, 0)
}
.left{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    margin-top: -460px;
    transform: translateY(-1000px);
    transition: 1s;
}

.left img{
  margin-bottom: -8px;
}
@media(max-width: 768px){
    .buttons{
      margin-top: 270px;
      
    }
    .click1{
        width: 150px;
        height: 130px;
    }
    .click2{
        width: 150px;
        height: 130px;
    }
    .gif-card{
        width: 350px;
        height: 550px;
        padding-left: 30px;
    }
    .gif-card p{
        font-size: 18px;
        margin-top: 10px;
        margin-left: -15px;
    }
    .container{
        height: 400px;
    }
}
